#header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 1rem;
}

.singleLineText {
  display: flex;
  flex-direction: row;
  align-self: center;
  max-width: 400px;
  justify-content: space-between;
}

.singleLineText > label {
  width: 100px;
  text-align: left;
  padding-bottom: 7px;
}

.singleLineText > input {
  height: 1rem;
}
